*{
    margin: 0;
    padding: 0;
 }

 body {
    width: 100%;
    height: 100vh;
 }

 section {
    margin: 5rem 10rem 3rem 10rem;
 }
 /* @font-face {
    font-family: 'proxima-nova-extra-condensed',sans-serif;
    src: url('https://fonts.bunny.net/css?family=figtree:300,400,500,600,700,800,900');
    src: url('https://fonts.bunny.net/css?family=lato:300,400,700,900');
 } */

 @font-face {
    font-family: "proximanovaex bold";
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovaexcn-bold.otf') format("opentype");
}

@font-face {
    font-family: "proximanovaex exbold";
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovaexcn-extrabold.otf') format("opentype");
}

@font-face {
    font-family: 'proximanovaex black';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovaexcn-black.otf') format("opentype");
}

@font-face {
    font-family: 'proximanovaex regular';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovaexcn-regular.otf') format("opentype");
}

@font-face {
    font-family: 'proximanova normal';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf') format("opentype");
}

@font-face {
    font-family: 'proximanova semibold';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanova-semibold.otf') format("opentype");
}

@font-face {
    font-family: 'proximanovacond bold';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-extrabold.otf') format("opentype");
}

@font-face {
    font-family: 'proximanovacond normal';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-regular.otf') format("opentype");
}

@font-face {
    font-family: 'proximanovacond light';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-light.otf') format("opentype");
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    padding: 15px;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
    font-family: "proximanovaex exbold";
    font-size: 20px;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
}
/*
nav li:hover ul {
    display:block;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: red;
}*/

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.network {
    display: flex;
    gap: 20px;
}

.network img {
    border-radius: 25px;
    width: 15px;
    height: 15px;
    padding: 10px;
    border: 1px solid #3a3a3a;
    text-align: center;
    margin-right: 4px;
}

.network img:hover{
    border-color:  #db0d15;
    transition: 0.3s;
}

.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.movie img {
    position: absolute;
    top: 210px;
    left: 42%;
    width: 15%;
    height: auto;
}

.movietxt {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: "proximanovacond bold";
    font-size: 39px;
    color: #fff;
    letter-spacing: 7px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    top: 380px;
    z-index: 1;
}

.more {
    display: flex;
    justify-content:space-around;
}

.meet img, .join img {
    filter: brightness(0.6);
}

.meet, .join {
    display: flex;
    align-items: center;
    flex-direction: column;
}
      
.overlay {
    position: absolute;
    margin-top: 130px;
}

.overlay div {
    font-family: "proximanovaex bold";
    text-align: center;
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
}
   
.btn-more {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.btn1, .btn2 {
    width: 255px;
    height: 50px;
    margin: 0 5px;
    padding: 5px 10px;
    border: 2px solid #ff0000;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    font-family: "proximanovacond bold";
    text-transform: uppercase;
    font-size: 17px;
}

.btn1:hover, .btn2:hover {
    background-color: #ff0000;
}

.rulestxt, .jointxt {
    display: flex;
    padding: 20px 0;
    color: #000;
}

.rules1, .rules2, .join1, .join2 {
    display: block;
    width: 250px;
    font-family: "proximanovaex exbold";
    font-size: 35px;
    text-transform: uppercase;
    line-height: 30px;
}

.rules2, .join2 {
    color: #db0d15;
}

p {
    display: block;
    text-align: start;
    font-family: "proximanova normal";
    font-size: 15px;
    width: 296px;
    line-height: 25px;
}

.letter {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    margin: 100px;
    padding: 55px;

}

.letter img {
    position: absolute;
    right: -3em;
    bottom: 18px;
}

.jobstitle {
    font-family: "proximanovaex bold";
    text-transform: uppercase;
    display: block;
    font-size: 55px;
    font-weight: 800;
    color: #fff; 
}

.jobs span {
    font-family: 'proximanovacond normal';
    font-size: 25px;
    color: #5d5c5b;
}

form {
    width: 750px;
}

.mail {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
}

.btn-mail {
    border: 1px solid #db0d15;
    border-radius: 30px;
    background-color: #db0d15;
    color: #fff;
    width: 225px;
    height: 50px;
    margin: 5px;
    font-family: 'proximanovaex bold';
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-mail:hover {
    background-color: #fff;
    color: #ff0000;

}

input {
    border-radius: 30px;
    font-size: 16px;
    border: none;
    padding: 10px;
}

::placeholder {
    font-family: 'proximanovacond normal';
    opacity: 0.25;

}

.studio {
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
    margin: 0 -10rem -2.7rem -10rem;
    background-color: #f6f6f6;
}

.locations {
    display: flex;
    flex-direction: column;
    color: #000;
}

.locations img {
    width: 471px;
    height: 145px;
    filter: brightness(0.6);
}

.studio h3 {
    font-family: 'proximanovaex bold';
    font-size: 45px;
    text-transform: uppercase;
    color: #db0d15;
}

h3 span {
    border-bottom: 3px solid #000;
}

.city {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 970px;
    gap: 24px;
    padding-top: 50px;
    color: #fff;
}

.overlays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 471px ;
    margin-top: -8rem;
    color: #fff;
    text-transform: capitalize;
}

.txtbig {
    font-family: 'proximanovaex bold';
    font-size: 25px;
    margin-bottom: 13px;
}

.addr, .zipcode {
    font-family: 'proximanovacond normal';
    font-size: 16px;
    line-height: 23px;
}

.contact {
    display: flex;
    flex-direction: column;
    color: #000;
}

.contact h3 {
    margin-bottom: 3.5rem;
}

.txt {
    font-family: 'proximanova semibold';
    text-transform: capitalize;
    font-size: 14px;
    line-height: 30px;
}

.email {
    font-family: 'proximanovaex bold';
    font-size: 24px;
}

.btn-contact {
    border: 1px solid #db0d15;
    border-radius: 30px;
    background-color: #db0d15;
    color: #fff;
    width: 225px;
    height: 50px;
    margin: 5px;
    font-size: 17px;
    font-family: 'proximanovaex bold';
    text-transform: uppercase;
    transition: 0.4s;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.menudown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    color: white;
}

.menudown ul {
    display: flex;
    gap: 20px;
    font-family: 'proximanovaex bold';
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
}

.menudown ul ul {
    display: none;
}

footer img {
    width: 135px;
    height: 80px;
}

.secondmenu {
    display: flex;
    justify-content: center;
    color: #484c53;
    margin: 10px; 
}