*{
    margin: 0;
    padding: 0;
 }

 body {
    width: 100%;
    height: 100vh;
 }

 @font-face {
    font-family: 'proxima-nova-extra-condensed',sans-serif;
   /* src: url('https://fonts.bunny.net/css?family=figtree:300,400,500,600,700,800,900');*/
    src: url('https://fonts.bunny.net/css?family=lato:300,400,700,900');
 }

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    padding: 15px;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;

    gap: 20px;
    font-family: 'proxima-nova-extra-condensed';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
}
/*
nav li:hover ul {
    display:block;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: red;
}*/

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.network {
    display: flex;
    gap: 20px;
}

.video {
    display: flex;
    position: relative;
}

.video-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    font-family: 'proxima-nova-extra-condensed';
    color: black;
}

.more {
    display: flex;
    justify-content:space-around;
    margin: 80px 50px;
}

.more img {
    filter: brightness(0.6);
}

.meet, .join {
    display: flex;
    align-items: center;
    flex-direction: column;
}
      
.overlay {
    position: absolute;
    margin-top: 180px;
}

.overlay div {
    text-align: center;
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 800;
    text-transform: uppercase;
}
   
.btn-more {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.btn1, .btn2 {
    width: 255px;
    height: 50px;
    margin: 0 5px;
    padding: 5px 10px;
    border: 2px solid #ff0000;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    font-family: 'proxima-nova-extra-condensed';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

.btn1:hover, .btn2:hover {
    background-color: #ff0000;
}

.rulestxt, .jointxt {
    display: flex;
    padding: 20px 0;
    font-family: 'proxima-nova-extra-condensed';
    color: #000;
}

.rules1, .rules2, .join1, .join2 {
    display: block;
    width: 250px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 30px;
}

.rules2, .join2 {
    color: #db0d15;
}

p {
    display: block;
    text-align: start;
    width: 300px;
}

.letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    margin: 50px;
    padding: 30px;
    font-family: 'proxima-nova-extra-condensed';
}
.letter img {
    position: absolute;
    left: 420px;
    bottom: 10px;
}
.jobstitle {
    display: block;
    font-size: 55px;
    font-weight: 800;
    color: #fff; 
}

.jobs span {
    font-size: 25px;
    font-weight: 300;
    color: #5d5c5b;
}

.mail {
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 20px;
}

.btn-mail {
    border: 1px solid #db0d15;
    border-radius: 30px;
    background-color: #db0d15;
    color: #fff;
    width: 225px;
    height: 50px;
    margin: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.4s;
}

.btn-mail:hover {
    background-color: #fff;
    color: #ff0000;

}

input {
    border-radius: 30px;
    font-size: 16px;
    border: none;
    padding: 10px;
}

.studio {
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
    background-color: #f6f6f6;
}



.locations {
    display: flex;
    flex-wrap: wrap;
    width: 855px;
    gap: 24px;
    padding-top: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    color: #000;
}

.overlays {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

footer {
    display: flex;
    flex-direction: column;
}

.menudown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    padding: 15px;
    background-color: black;
    color: white;
}

.menudown ul {
    display: flex;
    gap: 20px;
    font-family: 'proxima-nova-extra-condensed';
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.menudown ul ul {
    display: none;
}

footer img {
    width: 135px;
    height: 80px;
}

.secondmenu {
    display: flex;
    color: #484c53;
    
}